@tailwind base;
@tailwind components;
@tailwind utilities;
@import "//at.alicdn.com/t/c/font_4191244_ktiptd6vs7d.css";

body,
html {
  height: 100%;
}

.max-main {
  max-height: calc(100vh - 64px);
}



.ant-message-custom-content {
  display: flex;
  align-items: center;
}

.desing_data {
  .tags_box:hover {
    .tags_item {
      display: flex !important;
    }
  }
}

.page_main {
  height: calc(100% - 2.5rem - 2.75rem);
}

.bg-transparent {
  .ant-select-selector {
    background-color: transparent !important;
  }
}

.unit_project{
  .ant-switch-checked{
    background-color: #0162B1 !important;
  }
}

.custom{
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    max-width: none;
  }
}

.ant-message{
  z-index: 9999999 !important;
}
